@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      135deg,
      rgba(173, 216, 230, 1) 0%,
      rgba(135, 206, 235, 1) 50%,
      rgba(176, 224, 230, 1) 100%
    );
  background-attachment: fixed;
  margin: 0;
  font-family: Arial, sans-serif;
}
.header1{
   color: black;
   font-size: 25px;
   font-weight: 800;
   line-height: 35px
}
.text{
  color: rgb(62, 61, 61);
  font-size: 15px;
  line-height: 20px;
  font-weight: 400
}
.header2{
  color:black;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.pointmarker{
  /* background-color: aquamarine; */
  height:fit-content;
  width: 90vw;
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.userdata{
  background-color: azure;
  height: 400px;
  position: relative;
}
.drawingshapes{
  /* background-color: blueviolet; */
  height: fit-content;
  width: 90vw;
  margin: 70px auto 10px auto;
}
.features-benifits{
  display: flex;
  justify-content: space-around;
}
.features-benifits >div{
  cursor: context-menu;
}
.features:hover{
  transform: scale(1.05,1.05);
}
.benefits:hover {
  transform: scale(1.05,1.05);
}
.drawingshapes>a{
  width: fit-content;
}
.mainheader{
  position: fixed;
  width: 100vw;
}
.map-container {
  width: 90%;
  height: 500px;
}
/* .usermaps{
  
} */
.fileuploader{
  height: 300px;
  /* margin-top: 50px; */
  padding-top: 10px;
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  margin: 70px auto 10px auto;
}
.fileuploader >div >span{
  
  text-wrap: nowrap;
}
.fileuploader>div>h4{
  color: rgb(229, 169, 16);
  line-height: 40px;
  font-size: 25px;
  height: 50px;
}
.mapbox-gl-control-container{
  display: none;
}
.mapcontainermain{
  width: 90vw;
  margin: 70px auto 50px auto;
  border-radius: 10px;
  border:  2px solid beige;
}
.distancemain{
  margin: 70px auto 10px auto;
  width: 90vw;
}
.map3{
  width: 70vw;
  margin: 10px auto 10px auto;
}
.map3main{
  border: 2px solid beige;
  border-radius: 10px;
}
.map2container{
  border: 2px solid beige;
  border-radius: 10px;
}
.map2 .mapboxgl-ctrl-bottom-left{
  display: none;
}
.map2 .mapboxgl-ctrl-bottom-right{
  display: none;
}
.logincomponent{
  margin: 70px auto 30px auto;
  width: 350px;
}